<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
  <title>Ajouter un script</title>
</head>
<style>
  body {
    background-color: #535c68;
    color: #dfe4ea;
  }
</style>
<body>

  <div  class="container-fluid">
    <div class="row align-items-start">
      <div class="col">
        <br>
        <br>
        <br>
      </div>
    </div>

    <div class="row align-items-center">
    <div class="col-sm">
    </div>
    <div class="col-sm">
      <label>Developped by Harold Payet</label>
      <br />
      <label><a href="#">Project Open Source for help me</a></label>
      <br />
    <div class="col align-self-center">
      <button id="box_approuved" class="btn btn-success">Ok</button>
    </div>
    </div>

    <div class="col-sm">

    </div>
    </div>

    <div class="row align-items-end">
      <div class="col">

      </div>
    </div>
  </div>

  <script type="text/javascript" src="../controllers/BoxControllers.js"></script>
</body>
</html>
