<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../styles/style.css">
  <title>Ladon</title>
</head>
<body>
  <div id="menu">
    <li>Actions</li>
    <li>Info</li>
    <li>Settings</li>
  </div>
  <br />
  <div id="actions">
    <li id="action_run">Run script</li>
    <li id="action_reset">Reset</li>
    <li id="action_newScript">Script</li>
  </div>
  <div id="board">
  <table id="clipboard">
    <tr>
      <td>Select</td>
      <td>Script</td>
      <td>Parameter</td>
      <td>Admin</td>
      <td>Continue</td>
      <td>Status</td>
    </tr>
  </table>
  </div>
  <div class="console">

  </div>

  <script src="../controllers/picking.js"></script>
  <script src="../controllers/panelControl.js"></script>
</body>
</html>
