<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../styles/style.css">
  <title>Ladon</title>
</head>
<body>
  <div id="menu">
    <li><img src="../ladon_svg/menu.svg" class="icon_menu">Actions</li>
    <li><img src="../ladon_svg/alert.svg" class="icon_menu">Info</li>
    <li><img src="../ladon_svg/gear.svg" class="icon_menu">Settings</li>
  </div>
  <br />
  <div id="actions">
    <li id="action_run"><img src="../ladon_svg/play-button.svg" class="icon_menu">Run script</li>
    <li id="action_reset"><img src="../ladon_svg/origami.svg" class="icon_menu">Reset</li>
    <li id="action_newScript"><img src="../ladon_svg/add.svg" class="icon_menu">Script</li>
  </div>
  <div id="board">
  <table id="clipboard">
    <tr>
      <td>Select</td>
      <td>Script</td>
      <td>Parameter</td>
      <td>Admin</td>
      <td>Continue</td>
      <td>Status</td>
    </tr>
  </table>
  </div>
  <div class="console">

  </div>

  <script src="../controllers/picking.js"></script>
  <script src="../controllers/panelControl.js"></script>
</body>
</html>
